.clipTitle a {
  text-decoration: none;
  color: #172c2d;
}

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: #172c2d;
  text-align: left;
}

.clipsContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
}

.clipTitle {
  margin: 0;
  font-size: 1rem;
  color: #172c2d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  width: 18rem;
  text-decoration: none;
}

.clipViews {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(122, 122, 122);
}

.clipContainer {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin-right: 2rem;
}

.clipContainer img {
  width: 18rem;
  height: auto;
}

.spacer {
  display: block;
  width: 6px;
}

.clips {
  display: flex;
  width: 100%;
}

.youtube {
  display: flex;
  width: 100%;
}

.vods {
  display: flex;
  width: 100%;
}

.titleLeftAligned {
  display: flex;
  width: 38%;
  align-self: flex-start;
  margin-left: 10%;
}

@media only screen and (max-width: 800px) {
  .clipsContainer {
    width: 100%;
  }

  .clipContainer img {
    width: 14rem;
  }

  .clipContainer {
    width: 14rem;
  }

  .titleLeftAligned {
    margin-left: 0;
    width: auto;
    align-self: center;
    text-align: center;
    font-size: 1.6rem;
  }
}
