.test {
  height: 100vh;
}

.branding a {
  color: #fff;
  text-decoration: none;
}

.branding a:hover {
  color: transparent;
  -webkit-text-stroke: 4px #fff;
}

@supports not (-webkit-text-stroke: 4px #fff) {
  .branding a:hover {
    text-shadow: 3px 3px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
      -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  color: #fff;
}

.branding h1 {
  font-size: 5rem;
  font-weight: 700;
}

.branding h1,
h3 {
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  margin-right: 1rem;
  color: #fff;
  align-items: center;
}

.navigation li {
  margin-right: 1rem;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

.subscribe {
  background-color: #dc143c;
  padding: 1px 10px;
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  .branding h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .navigation {
    display: none;
  }

  .navbar {
    justify-content: center;
  }
}
